{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div id="business-info" class="col-sm-6">
            <h3 id="business-name"></h3>
            <ul>
                <h6 id="business-reviews" class="yelp-red"></h6>
                <h6 id="business-price"></h6>
                <h6 id="business-rating"></h6>
            </ul>
            <p id="business-categories"></p>
        </div>
        <div id="map" class="col-sm-6"></div>
    </div>
    <!-- <div id="star-pie-chart" class="plot col-sm-6 offset-sm-3"></div> -->
    <!-- <div id="bubble-chart" class="plot col-sm-6"></div> -->
    <div class="row">
        <!-- <div id="vader-bubble-chart" class="plot col-sm-12"></div> -->
        <!-- <div id="vader-plot" class="plot col-sm-12"></div> -->
        <div id="star-bar-plot" class="plot col-sm-6 offset-sm-3"></div>
        <a id="review-top"></a>
        <div id="summary-section" class="col-sm-6"></div>
        <div id="review-section" class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-6"></div>
        <div id="review-page-btns" class="btn-group col-sm-2 offset-sm-2">
            <a href="#review-top" class="btn btn-primary last-btn disabled">last page</a>
            <a href="#review-top" class="btn btn-primary next-btn">next page</a>
        </div>
    </div>
    <div id="summary-section"></div>
    <div id="review-section"></div>
    {% for business in data %}
        <p>{{business.name}}</p>
        <p>{{business.location.city}}</p>
    {% endfor %}
{% endblock %}