{% extends 'base.html' %}
{% block content %}
    <div id="business-info">
        <h3 id="business-name"></h3>
        <ul>
            <h6 id="business-price"></h6>
            <h6 id="business-rating"></h6>
            <h6 id="business-reviews"></h6>
        </ul>
        <p id="business-categories"></p>
    </div>
    <div id="star-bar-plot" class="plot col-sm-4"></div>
    <div id="vader-plot" class="plot col-sm-12"></div>
    {% for business in data %}
        <p>{{business.name}}</p>
        <p>{{business.location.city}}</p>
    {% endfor %}
{% endblock %}