{% extends 'base.html' %}
{% block content %}
    <div id="business-info">
        <h3 id="business-name"></h3>
        <ul>
            <h6 id="business-price"></h6>
            <h6 id="business-rating"></h6>
            <h6 id="business-reviews"></h6>
        </ul>
        <p id="business-categories"></p>
    </div>
    <div id="vader-plot" class="plot col-sm-12"></div>
    <div id="star-bar-plot" class="plot col-sm-6 offset-sm-3"></div>
    <div class="row">
        <div id="summary-section" class="col-sm-6"></div>
        <div id="review-section" class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-6"></div>
        <div id="review-page-btns" class="btn-group col-sm-2 offset-sm-2">
            <button class="btn btn-primary prev-btn disabled">last page</button>
            <button class="btn btn-primary next-btn">next page</button>
        </div>
    </div>
    {% for business in data %}
        <p>{{business.name}}</p>
        <p>{{business.location.city}}</p>
    {% endfor %}
{% endblock %}